/* screen - about */

.about {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 62px;
  min-width: 1310px;
  padding: 108px 0px;
  position: relative;
}

.about .place {
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  transition: all 0.2s ease;
  width: fit-content;
}

.about .place:hover {
  transform: scale(1.1);
}

.about .about-1 {
  color: transparent;
  cursor: pointer;
  font-family: var(--font-family-cabinet_grotesk-medium);
  font-size: var(--font-size-xs);
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  transition: all 0.2s ease;
  width: fit-content;
}

.about .span {
  text-decoration: underline;
}

.about .about-1:hover {
  transform: scale(1.1);
}

.about .share-your-story {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 36px;
  justify-content: center;
  position: relative;
  width: 1223px;
}

.about .h1 {
  align-items: center;
  display: flex;
  position: relative;
  width: fit-content;
}

.about .hello-im-rhyme-a {
  color: var(--black);
  font-family: var(--font-family-cabinet_grotesk-medium);
  font-size: var(--font-size-m);
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: 527px;
}

.about .h2 {
  align-items: center;
  display: flex;
  position: relative;
  width: fit-content;
}

.about .i-enjoy-making-human {
  color: var(--gondola);
  font-family: var(--font-family-cabinet_grotesk-medium);
  font-size: var(--font-size-xxxs);
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.about .sub-heading {
  align-items: center;
  display: flex;
  position: relative;
  width: fit-content;
}

.about .i-started-out-as-a-d {
  color: var(--gondola);
  font-family: var(--font-family-cabinet_grotesk-regular);
  font-size: var(--font-size-xxxxs);
  font-weight: 400;
  height: 97px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: 987px;
}
