/* screen - datagraphy */

.datagraphy {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 80px;
  min-width: 1310px;
  padding: 108px 0px;
  position: relative;
}

.datagraphy .place {
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-decoration: underline;
  transition: all 0.2s ease;
  width: fit-content;
}

.datagraphy .place:hover {
  transform: scale(1.1);
}

.datagraphy .about {
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  transition: all 0.2s ease;
  width: fit-content;
}

.datagraphy .about:hover {
  transform: scale(1.1);
}

.datagraphy .datagraphy-a-website {
  letter-spacing: 0;
  line-height: .5;
  margin-top: -1.00px;
  position: relative;
  width: 576px;
}

.datagraphy .frame-9-1 {
  height: 300px;
  min-width: 576px;
  position: relative;
}

.datagraphy .x1-and-2 {
  align-items: center;
  border: 1px solid;
  border-color: var(--black);
  border-radius: 12px;
  display: flex;
  gap: 59px;
  overflow: hidden;
  position: relative;
  width: 1223px;
}

.datagraphy .screen-shot-2023-02-08-at-539-1 {
  height: 764px;
  min-width: 1223px;
  object-fit: cover;
  position: relative;
}

.datagraphy .screen-shot-2023-02-08-at-541-1 {
  height: 763.19px;
  min-width: 1223px;
  object-fit: cover;
  position: relative;
}

.datagraphy .screen-shot-2023-02-08-at-543-1 {
  height: 765.65px;
  min-width: 1223px;
  position: relative;
}

.datagraphy .contact {
  align-items: center;
  background-color: var(--black);
  border-radius: 46.2px;
  cursor: pointer;
  display: flex;
  gap: 7.69px;
  height: 85px;
  justify-content: center;
  padding: 12.81px 28.18px;
  position: relative;
  width: 177px;
}

.datagraphy .contact-me {
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}
