

@font-face {
  font-family: "Cabinet Grotesk-Medium";
  src: url("../fonts/CabinetGrotesk-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Cabinet Grotesk-Regular";
  src: url("../fonts/CabinetGrotesk-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Cabinet Grotesk-Bold";
  src: url("../fonts/CabinetGrotesk-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Cabinet Grotesk-Extrabold";
  src: url("../fonts/CabinetGrotesk-Extrabold.otf") format("opentype");
}
@font-face {
  font-family: "undefined-Regular";
  src: url("../fonts/Augusta.ttf") format("truetype");
}


.screen a {
  display: contents;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 1223px;
}

.name {
  align-items: center;
  display: flex;
  position: relative;
  width: fit-content;
}

.rhyme-dochtermann {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.menu {
  align-items: center;
  display: flex;
  gap: 44px;
  position: relative;
  width: fit-content;
}

.words {
  align-items: flex-start;
  display: flex;
  gap: 69px;
  position: relative;
  width: 1223px;
}

.frame-9 {
  width: fit-content;
}

.projects {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 127px;
  position: relative;
  width: fit-content;
}

.x3-and {
  align-items: center;
  border: 1px solid;
  border-color: var(--black);
  border-radius: 12px;
  display: flex;
  gap: 58px;
  overflow: hidden;
  position: relative;
  width: 1223px;
}

.frame-10 {
  width: 1223px;
}

.frame {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  position: relative;
}

.x2-controller-repres {
  color: var(--black);
  font-family: var(--font-family-undefined-regular);
  font-size: var(--font-size-xxxs);
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: 576px;
}